:root {
    --background-color: #f0f0f0;
    --secondery-color: #434342;
    --text-color: #1c2b4f;
    --main-color: #000;
}

.background-color {
    color: white;
}

.icon-background-color{
    color: var(--secondery-color);
    
}
.login-icon-color {
    background-color: var(--text-color);
}
.text-color{
    color: var(--text-color);
    font-family: 'Cairo', Arial, sans-serif;
}

.Sign-icon-color {
    margin: 0px 5px;
    background-color: crimson;
}

.container {
    background-color: var(--background-color);
    width: 100%;
}

.p {
    color: var(--text-color);
    font-family: 'Cairo', Arial, sans-serif;
    width: 400px;
    font-size: 25px;
    line-height: 34px;
    
}

.div-flex {
    display: flex;
    height: 60px;
    margin-top: 10px; 
    align-items: center;
}

.justify-content-space-between {
    justify-content: space-between;
    padding: 0px 10px;
}

.background-color-white {
    background-color: white;
    margin: 0px ; 
    width: 100%;
}

.logo {
    height: 50px;
}

.margin-right {
    margin-right: 10px;
}

.logo-text {
    color: var(--text-color);   
    margin-right: 10px;
}
hr{
    width: 100%;
    color: var( --secondery-color);
    height: 1px;
    margin: 0px;   
}

  .card-img{
    width: 300px;
   height: 150px;
   object-fit: cover;
 }
 .card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }
  small {
    white-space: normal;
    overflow: visible; 
}
i{
    margin: 5px 0px;
}
footer {
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #555;
    color: white;
    text-align: center;
    font-size: 24px;
    transition: background-color 0.3s ease;
  }
  
  .icon:hover {
    background-color: #ff9800; 
  }
  
  .whatsapp:hover {
    background-color: #25d366;
  }
  
  .facebook:hover {
    background-color: #3b5998;
  }
  
  .tiktok:hover {
    background-color: #000000;
  }
  
  .instagram:hover {
    background-color: #e4405f;
  }
  
  .twitter:hover {
    background-color: #1da1f2;
  }
  
  .x:hover {
    background-color: #000000;
  }